Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 8.47 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [ ]:
import glob
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="",
                               db="phonepe_pluse"))


path = (glob.glob(r"C:\Users\admin\Desktop\phonepe Project\pulse\data\\\country\india\\.json", recursive=True))

agger_trans_yearwise = pd.DataFrame()
agger_user_yearwise = pd.DataFrame()

map_trans_yearwise = pd.DataFrame()
map_user_yearwise = pd.DataFrame()

top_trans_yearwise = pd.DataFrame()
top_user_yearwise = pd.DataFrame()


splt_lst = []
for i in path:
    splt_lst = i.split('\\')
    if splt_lst[7] =="aggregated":

        if splt_lst[8] == "transaction":

            DF = pd.read_json(i)
            j = DF.loc["transactionData", "data"]
            j = pd.json_normalize(j, record_path=['paymentInstruments'], meta=["name"])

            j["Year"] = splt_lst[11]

            x = splt_lst[12].split(".")
            j["Quater"] = x[0]

            agger_trans_yearwise = pd.concat([agger_trans_yearwise, j],ignore_index=True)
            agger_trans_yearwise.to_sql("agger_trans_yearwise", con=engine, if_exists='append')

        if splt_lst[8] == "user":

            DF = pd.read_json(i)

            b = DF.loc["usersByDevice", "data"]
            if b == None:
                continue
            b = pd.json_normalize(b)

            c = DF.loc["aggregated", "data"]
            if c == None:
                continue
            c = pd.json_normalize(c)

            b["Year"] = c["Year"] = splt_lst[11]

            x = splt_lst[12].split(".")
            b["Quater"] = c["Quater"] = x[0]

            output = pd.concat([b, c])
            agger_user_yearwise = pd.concat([agger_user_yearwise, output],ignore_index=True)
            agger_user_yearwise.to_sql("agger_user_yearwise", con=engine, if_exists='append')



    if splt_lst[7] == "map":

        if splt_lst[8] == "transaction":

            DF = pd.read_json(i)

            a = DF.loc["hoverDataList", "data"]
            a = pd.json_normalize(a, record_path=["metric"], meta=["name"])
            a.columns = ["Type", "Count", "Amount", "City"]

            a["Year"] = splt_lst[11]

            x = splt_lst[12].split(".")
            a["Quater"] = x[0]

            map_trans_yearwise = pd.concat([map_trans_yearwise, a])
            map_trans_yearwise.to_sql("map_trans_yearwise", con=engine, if_exists='append')


        if splt_lst[8] == "user":

            DF = pd.read_json(i)

            a = DF.loc["hoverData", "data"]
            a = pd.DataFrame(a)
            a = a.transpose()
            a.reset_index(inplace=True)
            a.columns = ["City", "RegUser", "AppOpens"]

            a["Year"] = splt_lst[11]

            x = splt_lst[12].split(".")
            a["Quater"] = x[0]

            map_user_yearwise = pd.concat([map_user_yearwise , a])
            map_user_yearwise.to_sql("map_user_yearwise", con=engine, if_exists='append')

    if splt_lst[7] == "top":

        if splt_lst[8] == "transaction":

            DF = pd.read_json(i)

            a = DF.loc["districts", "data"]
            a = pd.json_normalize(a)
            a.columns = ["Districts", "Total", "Count", "Amount"]

            b = DF.loc["pincodes", "data"]
            b = pd.json_normalize(b)
            b.columns = ["Pincode", "Total", "Count", "Amount"]

            c = DF.loc["states", "data"]
            c = pd.json_normalize(c)
            c.columns = ["State", "Total", "Count", "Amount"]

            a["Year"] = b["Year"] = c["Year"] = splt_lst[11]

            x = splt_lst[12].split(".")
            a["Quater"] = b["Quater"] = c["Quater"] = x[0]

            output = pd.concat([a, b, c])
            top_trans_yearwise = pd.concat([top_trans_yearwise, output])
            top_trans_yearwise.to_sql("top_trans_yearwise", con=engine, if_exists='append')


        if splt_lst[8] == "user":

            DF = pd.read_json(i)

            a = DF.loc["districts", "data"]
            a = pd.DataFrame(a)
            a.columns = ["District", "DistrictRegUser"]

            b = DF.loc["pincodes", "data"]
            b = pd.DataFrame(b)
            b.columns = ["Pincode", "PincodeRegUser"]

            c = DF.loc["states", "data"]
            c = pd.DataFrame(c)
            c.columns = ["State", "StateRegUser"]

            a["Year"] = b["Year"] = c["Year"] = splt_lst[11]


            x = splt_lst[12].split(".")
            a["Quater"] = b["Quater"] = c["Quater"] = x[0]

            output = pd.concat([a, b, c])
            top_user_yearwise = pd.concat([top_user_yearwise, output])

            # Insert whole DataFrame into MySQL
            top_user_yearwise.to_sql("top_user_yearwise", con=engine, if_exists='append')



from sqlalchemy import create_engine





path_state = (glob.glob(r"C:\Users\admin\Desktop\phonepe Project\pulse\data\\\country\india\\.json", recursive=True))

agger_trans_statewise = pd.DataFrame()
agger_user_statewise = pd.DataFrame()

map_trans_statewise = pd.DataFrame()
map_user_statewise = pd.DataFrame()

top_trans_statewise = pd.DataFrame()
top_user_statewise = pd.DataFrame()